@media screen and(min-width: 320px) and (max-width: 768px) {
    .header-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        & img{
        width: 100%;
        height: 50vh;
    }
    & .header-center{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & p{
            padding: 0 3rem;
            font-size: 1.5rem;
            color: #fff;
            text-align: center;
            font-weight: 600;
        }
        & button{
           background-color: transparent;
           padding: 0.5rem;
           font-size: 0.9rem;
           font-weight: 600;
           width: fit-content;
           color: #fff;
           border: 2px solid#fff;
        }
    }
}
}

@media screen and (min-width: 769px) {   
    .header-container{
        display: flex;
        flex-direction: column;
    & img{
        opacity: 100%;
        width: 100%;
        height: 100vh;
    }
    & .header-center{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        & p{
            padding: 0 10rem;
            font-size: 3rem;
            color: #fff;
            text-align: center;
            font-weight: 600;
        }
        & button{
           background-color: transparent;
           padding: 1rem;
           font-size: 1rem;
           font-weight: 600;
           width: fit-content;
           color: #fff;
           border: 2px solid#fff;
        }
    }
}
}